html,
body {
  margin: 0;
  padding: 0;
}
/* body {
  background-image: url("../../images/bird.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
