<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script>
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");
      canvas.width = 378;
      canvas.height = 378;
      var cw = canvas.width;
      var ch = canvas.height;

      canvas.style.border = "1px solid red";
      var image = new Image();
      image.src = "./ar.jpg";

      image.onload = function() {
        ctx.drawImage(image, 10, 10, 470, 470);
      };
    </script>
  </body>
</html>
